// 字体颜色
$font-color:#333;//正文字体/标题文字
$info-color:#999999;//通用于说明文字颜色/搜索框文字
$white-color:#fff;//通用于白色文字颜色/卡片颜色
$theme-color:#C5B269;//通用主题色文字颜色
$theme-light-color:#DFD393;//通用与主题色调搭配渐变，用于按钮，大范围色彩
$danger-color:#E92137;//通用辅助色红色，通用于消息/股票上涨/渐变深色层
$danger-light-color:#F67B80;//通用于渐变浅色层
$tab-active-color:#101324;//通用临近色深蓝色，通用于渐变深色层/TAB栏选中效果
$tab-light-color:#464B68;//通用于渐变浅色层
$dart-blue-color:#101941;//通用深蓝色，通用于渐变深色层
$light-blue-color:#0D274E;//通用于渐变浅色层
$dart-green-color:#49DE58;//通用绿色，通用于渐变深色层/股票的下跌
$light-green-color:#AED19E;//通用于渐变浅色层
$line-color:#EEEEEE;//分割线
$bar-color:#F5F5F5;//分隔条
$pro-mask-color:rgba(0, 0, 0, .5);//产品蒙层
$sell-mask-color:rgba(0, 0, 0, .75);//营销蒙层
$bg-color:#F5F5F5;//背景色
// 字体大小
$x-small-font:.1rem;
$small-font: .13rem;
$normal-font: .15rem;
$s-big-font:.17rem;
$big-font: .18rem;
$large-font: .2rem;

